<%= form_for(@etalase) do |f| %>
  <% if @etalase.errors.any? %>
    <div id="">
      <h4><%= pluralize(@etalase.errors.count, "error") %></h4>
      <% @etalase.errors.full_messages.each do |msg| %>
          <div data-alert="" class="alert-box small">
            <%= msg %>
            <a href="#" class="close">×</a>
          </div>
      <% end %>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>

  <div>
    <%= f.label :category %>
    <%= f.collection_select :category_id, Category.all, :id, :name %>
  </div>
  
   <div class="field">
    <%= f.label :price %><br>
    <%= f.text_field :price %>
  </div>
<%= image_tag(@etalase.picture_url(:thumb_product)) if @etalase.picture? %>
  <div class="field">
    <%= f.label :sample_picture %><br>
    <%= f.file_field :picture %>
  </div>

  <div class="field">
    <%= f.label :description %><br>
     <%= f.cktext_area :description, :cols => 10 , class: 'ckeditor', :ckeditor => {:toolbar => "mini"} %>
  </div>

  <div class="actions">
    <%= f.submit class: 'button' %>
  </div>
<% end %>

<script type="text/javascript">
  $("#price").blur(function(){
     $(this).formatNumber({format:"#,###.00", locale:"us"});
  });
</script>