<h1>Listing etalases</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Photo</th>
      <th>Price</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @etalases.each do |etalase| %>
      <tr>
        <td><%= link_to etalase.title, etalase %></td>
        <td><%= etalase.photo %></td>
        <td><%= etalase.price %></td>
        <td><%= link_to 'Edit', edit_etalase_path(etalase) %></td>
        <td><%= link_to 'Destroy', etalase, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Etalase', new_etalase_path %>
