<% if notice %>
<div data-alert="" class="alert-box success radius">
  <%= notice %>
  <a href="#" class="close">×</a>
</div>
<% end %>

<h1>Our Etalases</h1>
<div class="row">
      <!-- Side Bar -->
  <div class="large-4 small-12 columns">
    <%= image_tag 'etalases.jpg' %>

    <div class="hide-for-small panel">
      <h3>Etalase</h3>
      <h5 class="subheader">You can share your amazing product and tell to anyone that you selling it. Get Amazing Stuff with us</h5>
      <%= link_to "#{image_tag 'new.png'} Create New Etalase".html_safe, new_etalase_path, class: 'button callout radius' %><br \>
    </div>

    <div class="panel">Choose Your Category
      <ul class="side-nav">
      <% categories = Category.all %>
        <li class="<%= 'active' if params[:category_id].nil? %> "><%= link_to 'All Category' , etalases_path, class: 'callout radius' %></li>
        <% categories.each do |category| %> 
        <li class="<%= 'active' if params[:category_id].to_i == category.id %> "><%= link_to category.name , select_etalases_path(category.id) %></li>
      <% end %>
      </ul>
    </div>
  </div>

  <%= form_tag 'etalases/search' %>
  <div class="row collapse right">
    <div class="medium-9 columns">
      <%= search_field_tag 'search' %>
    </div>
    <div class="small-3 columns">
      <%= button_tag "#{image_tag 'search.png'}".html_safe,  class: 'button postfix' %>
    </div>
  </div>
  
  <div class="large-8 columns">
    <div class="row">
      <% if @etalases != [] %>
        <% @etalases.each do |etalase| %>
          <div class="large-4 small-6 columns">
            <%= image_tag etalase.picture %>
            <div class="panel">
              <h5><%= link_to etalase.title, etalase %></h5>
               <h5><%=number_to_currency etalase.price ,  precision: 0 , unit: "Rp. ", seperator: "."%></h5>
              by, <%= link_to etalase.user.name, show_up_profile_path(etalase.user.id) %> <br><h8><%= etalase.created_at.strftime("%b %d, %Y") %></h8>
              <br> 
            </div>
          </div>
        <% end %>
        </div>
      <%= paginate @etalases %>
    <% else %>
      <div data-alert="" class="alert-box">
        <%= image_tag 'info.png' %> There Is Nothin Here
        <a href="#" class="close">×</a>
      </div>
    <% end %>
  </div>
</div>