<% if notice %>
<div data-alert="" class="alert-box success radius">
  <%= notice %>
  <a href="#" class="close">×</a>
</div>
<% end %>

<h1>Our Etalases</h1>
<div class="row">
      <!-- Side Bar -->
  <div class="large-4 small-12 columns">
    <%= image_tag 'etalases.jpg' %>

    <div class="hide-for-small panel">
      <h3>Etalase</h3>
      <h5 class="subheader">You can share your amazing product and tell to anyone that you selling it. Get Amazing Stuff with us</h5>
      <%= link_to 'Create New Etalase' , new_etalase_path, class: 'button callout radius' %><br \>
    </div>

    <div class="panel">Choose Your Category
      <ul class="side-nav">
      <% categories = Category.all %>
        <li class="<%= 'active' if params[:category_id].nil? %> "><%= link_to 'All Category' , etalases_path, class: 'callout radius' %></li>
        <% categories.each do |category| %> 
        <li class="<%= 'active' if params[:category_id].to_i == category.id %> "><%= link_to category.name , select_etalases_path(category.id) %></li>
      <% end %>
      </ul>
    </div>
  </div>

  <%= form_tag search_etalases_path %>
  <div class="row collapse right">
    <div class="medium-9 columns">
      <%= search_field_tag 'search' %>
    </div>
    <div class="small-3 columns">
      <%= button_tag "Search",  class: 'button postfix' %>
    </div>
  </div>
  <div class="large-8 columns">
    <%= 'Data Belum Ada atau Tidak Ditemukan' if @etalases.empty?  %>
    <% number = 0 %>
    <% if !@etalases.empty? %>
    <h3><%= @etalases.size %> Hal Ditemukan untuk <%= @search%></h3>
    <table>
    <tr>
      <td>#</td>
      <td>title</td>
    </tr>
      <% @etalases.each do |etalase| %>
      <tr>
        <td><%= number+=1 %></td>
        <td><%= link_to etalase.title, etalase_path(etalase.id) %></td>
      </tr>
      <% end %>
      </table>
    <% end %>
  </div>
</div>