<h1>Our Tutorials</h1>
<div class="row">
  <div class="large-4 small-12 columns">
    <%= image_tag 'etalases.jpg' %>

    <div class="hide-for-small panel">
      <h3>etalase</h3>
      <h5 class="subheader">You can share your amazing product and tell to anyone that you selling it. Get Amazing Stuff with us</h5>
      <%= link_to 'Create New etalase' , new_etalase_path, class: 'button callout radius' %><br \>
    </div>

    <div class="panel">Choose Your Category
      <ul class="side-nav">
      <% categories = Category.all %>
        <li class="<%= 'active' if params[:category_id].nil? %> "><%= link_to 'All Category' , etalases_path, class: 'callout radius' %></li>
        <% categories.each do |category| %> 
        <li class="<%= 'active' if params[:category_id].to_i == category.id %> "><%= link_to category.name , select_etalases_path(category.id) %></li>
      <% end %>
      </ul>
    </div>
  </div>

  <div class="large-8 columns">
    <div class="row">
      <% if @etalase != [] %>
        <% @etalase.each do |etalase| %>
          <div class="large-4 small-6 columns">
            <%= image_tag etalase.picture %>
            <div class="panel">
              <h5><%= link_to etalase.title, etalase %></h5>
              by, <%= link_to etalases.user.name, show_up_profile_path(etalases.user.id) %><br \>
              <h5><%= etalases.price %></h5>
              <h6><%= etalases.created_at.to_s[0..15] %></h6>
            </div>
          </div>
        <% end %>
      <% else %>
        <div data-alert="" class="alert-box">
          There Is Nothin Here
          <a href="#" class="close">×</a>
        </div>
      <% end %>
    </div>
    <%= paginate @etalase %>
  </div>
</div>
