<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @etalase.title %>
</p>
  
<p>
  <strong>Price:</strong>
  <%= @etalase.price %>
</p>

<p>
  <strong>Photo:</strong>
  <%= @etalase.photo %>
</p>

<p>
  <strong>Description:</strong>
  <%= raw @etalase.description %>
</p>

<%= link_to 'Edit', edit_etalase_path(@etalase) %> |
<%= link_to 'Back', etalases_path %>
