<% if notice %>
<div data-alert="" class="alert-box success radius">
  <%= notice %>
  <a href="#" class="close">×</a>
</div>
<% end %>

<p>
  <h2 class="panel callout radius"><%= @etalase.title %></h2>
</p>
<p>
  <%= image_tag @etalase.picture, class: 'th center' %>
</p>
<p>
  <strong>Category:</strong>
  <%= @etalase.category.name %>
</p>
<div>
  <p>
    <strong>etalase:</strong> <br>
    <%= raw @etalase.description %>
  </p>
</div>
<%= form_for(@comment) do |f| %>
  <% if @comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@comment.errors.count, "error") %> prohibited this etalase from being saved:</h2>

      <ul>
      <% @comment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= f.label :post_new_comment %><br>
    <%= f.text_field :content %>
  </div>

  <%= f.hidden_field :commentable_id %>
  <%= f.hidden_field :commentable_type %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
<div class="large-6 columns">
<% @comments.includes(:user).each do |comment|  %>
<div class="row">
  <div class="large-2 columns small-3"><%= image_tag comment.user.avatar_url(:thumb), class: "th radius" %> </div>
  <div class="large-10 columns">
    <p><strong><%= comment.user.name %> said:</strong> <%= comment.content %></p>
  </div>
</div>
<% end %>
</div>
<%= link_to 'Edit', edit_etalase_path(@etalase) %> |
<%= link_to 'Back', etalases_path %>
