<h1>My Comment on Etalase</h1>
<% @myelatasecomments.each do |comment| %> 
  <li><%= comment.content %></li>
  <li><%= comment.created_at %></li>
  <li><%= link_to "go to page", etalase_path(comment.commentable_id) %></li>
<% end  %>

<h1>My Comment on Tutorial</h1>
<% @mytutorialcomments.each do |comment| %> 
  <li><%= comment.content %></li>
  <li>title <%= comment.commentable.title %> by <%= comment.commentable.user.name %></li>
  <li><%= comment.created_at %></li>
  <li><%= link_to "go to page", tutorial_path(comment.commentable_id) %></li>
<% end  %>