<h1>ShowUp#profile</h1>
<p>Find me in app/views/show_up/profile.html.erb</p>
<ul>
<li><%= @user.name %></li>
<li><%= @user.email %></li>
<li><%= @user.phone %></li>
<li><%= @user.address %></li>
<li><%= image_tag @user.avatar_url(:small_thumb) %></li>
</ul>