<div class="panel callout radius">
  <h1>Welcome To Indonesian Handmade</h1>
  <p>It's a little ostentatious, but useful for important content.</p>
</div>

<h3> Latest Product <h3>

  <div class="large-8 columns">
    <div class="row">
    <% @etalases.each do |etalase| %>
      <div class="large-4 small-6 columns">
         <%=link_to image_tag(etalase.picture), etalase %>
        <div class="panel">
          <h5><b><%=etalase.title %></b></h5>
          <h5><%=etalase.price %></h5>
          <p><h8><%= etalase.description %></h8></p>
        </div>
      </div>
    <% end %>
    </div>
  <%= paginate @etalases %>
  </div>
<br>

<h3> Latest Tutorial </h3>
  <div class="large-8 columns">
     <div class="row">
    <% @tutorials.each do |tutorial| %>
      <div class="large-4 small-9 columns">
        <%=link_to image_tag(tutorial.picture), tutorial %>
        <div class="panel">
          <h5><b><%= tutorial.title %></b></h5>
          <h7><i>by:<%=tutorial.user.name %></i></h7>
        </div>
      </div>
    <% end %>
    </div>
  <%= paginate @tutorials %>
  </div>





