<div class="panel callout radius">
  <h1>Welcome To Indonesian Handmade</h1>
  <p>It's a little ostentatious, but useful for important content.</p>
</div>
<div id="masonry-container" class="transitions-enabled infinite-scroll clearfix">
<% if @etalases != []%>
  <!-- <h3> Latest Product <h3> -->
    <div class="medium-9 columns">
      <div class="row">
      <% @etalases.each do |etalase| %>
        <div class="large-4 small-6 columns box">
          <%=link_to image_tag(etalase.picture), etalase %>
          <div class="panel">
            <h5><b><%=etalase.title %></b></h5>
            <h6><%=number_to_currency etalase.price ,  precision: 0 , unit: "Rp. ", seperator: "."%> </h6>
            <h6><i>by: <%= link_to etalase.user.name, show_up_profile_path(etalase.user.friendly_id) %></i></h6>
          </div>
        </div>
        <% end %>
      <%= paginate @etalases %>
      </div>
    </div>
  <br>
<% else %>
  <div data-alert="" class="alert-box">
    <%= image_tag 'info.png' %> There Is Nothin Here
    <a href="#" class="close">×</a>
  </div>
<% end %>
  
<% if @tutorials != [] %>
  <!-- <h3> Latest Tutorsial </h3> -->
    <div class="row">
      <% @tutorials.each do |tutorial| %>
        <div class="large-4 small-6 columns box">
          <%= image_tag tutorial.picture %>
          <div class="panel">
            <h5><b><%= link_to tutorial.title, tutorial %></b></h5>
            <h6><i>by: <%= link_to tutorial.user.name, show_up_profile_path(tutorial.user) %></i><h6>
          </div>
      </div>
      <% end %>
    </div>
    <%= paginate @tutorials %>
  </div>
<% else %>
  <div data-alert="" class="alert-box">
    <%= image_tag 'info.png' %> There Is Nothin Here
    <a href="#" class="close">×</a>
  </div>
<% end %>
</div>