<%= form_for(@tutorial) do |f| %>
  <% if @tutorial.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tutorial.errors.count, "error") %> prohibited this tutorial from being saved:</h2>

      <ul>
      <% @tutorial.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

   <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
  <%= image_tag(@tutorial.picture_url(:thumb_product)) if @tutorial.picture? %>
  <div>
    <%= f.label :sample_picture %>
    <%= f.file_field :picture %>
  </div>
  <div>
    <%= f.label :category %>
    <%= f.collection_select :category_id, Category.all, :id, :name %>
  </div>
  <div>
    <%= f.label :content %><br>
    <%= f.cktext_area :content, :cols => 10 , class: 'ckeditor', :ckeditor => {:toolbar => "mini"} %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
