<% if notice %>
<div data-alert="" class="alert-box success radius">
  <%= notice %>
  <a href="#" class="close">×</a>
</div>
<% end %>

<h1>Our Tutorials</h1>
<div class="row">
  <div class="large-4 small-12 columns">
    <%= image_tag 'tutorial.jpg' %>

    <div class="hide-for-small panel">
      <h3>Tutorial</h3>
      <h5 class="subheader">You can share your idea to create some handycraft by your own. Explore your imagination and your idea. Please Share To Us</h5>
      <%= link_to 'Create New Tutorial' , new_tutorial_path, class: 'button callout radius' %><br \>
    </div>

    <div class="panel">Choose Your Category
      <ul class="side-nav">
      <% categories = Category.all %>
        <li class="<%= 'active' if params[:category_id].nil? %> "><%= link_to 'All Category' , tutorials_path, class: 'callout radius' %></li>
        <% categories.each do |category| %> 
        <li class="<%= 'active' if params[:category_id].to_i == category.id %> "><%= link_to category.name , select_tutorials_path(category.id) %></li>
      <% end %>
      </ul>
    </div>
  </div>
<%= form_tag search_tutorials_path %>
  <div class="row collapse right">
    <div class="medium-9 columns">
      <%= search_field_tag 'search' %>
    </div>
    <div class="small-3 columns">
      <%= button_tag "Search",  class: 'button postfix' %>
    </div>
  </div>
  <div class="large-8 columns">
    <% if @tutorials.empty?  %>
      <div data-alert="" class="alert-box">
        There Is No Data Found for <%= params[:search] %>
        <a href="#" class="close">×</a>
      </div>
    <% number = 0 %>
    <% else %>
      <h3><%= @tutorials.size %> Hal Ditemukan untuk <%= @search%></h3>
      <table>
      <tr>
        <td>#</td>
        <td>title</td>
      </tr>
        <% @tutorials.each do |tutorial| %>
        <tr>
          <td><%= number+=1 %></td>
          <td><%= link_to tutorial.title, tutorial_path(tutorial.id) %></td>
        </tr>
        <% end %>
      </table>
    <% end %>
  </div>
</div>
  