<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @tutorial.title %>
</p>
<p>
  <strong>Category:</strong>
  <%= @tutorial.category.name %>
</p>  
<p>
  <strong>Sample Picture:</strong>
  <%= image_tag @tutorial.picture %>
</p>

<p>
  <strong>Content:</strong> <br>
  <%= raw @tutorial.content %>
</p>

<%= form_for(@comment) do |f| %>
  <% if @comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@comment.errors.count, "error") %> prohibited this tutorial from being saved:</h2>

      <ul>
      <% @comment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= f.label :post_new_comment %><br>
    <%= f.text_field :content %>
  </div>

  <%= f.hidden_field :commentable_id %>
  <%= f.hidden_field :commentable_type %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
<div class="large-6 columns">
<% @comments.includes(:user).each do |comment|  %>
<div class="row">
  <div class="large-2 columns small-3"><%= image_tag comment.user.avatar_url(:thumb), class: "th radius" %> </div>
  <div class="large-10 columns">
    <p><strong><%= comment.user.name %> said:</strong> <%= comment.content %></p>
  </div>
</div>
<% end %>
</div>
<%= link_to 'Edit', edit_tutorial_path(@tutorial) %> |
<%= link_to 'Back', tutorials_path %>
