<h1>Listing categories</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <% if can? :edit && :destroy, @categories %>
      <th></th>
      <th></th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% @categories.each do |category| %>
      <tr>
        <td><%= link_to category.name, admin_category_path(category)%></td>
        <td> <%= category.description %></td>
        <% if can? :edit && :destroy, category %>
          <td><%= link_to 'Edit', edit_admin_category_path(category) %></td>
          <td><%= link_to 'Destroy', admin_category_path(category), method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if can? :create, @categories %>
  <%= link_to 'New Category', new_admin_category_path %>
<% end %>
