<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "IndonesianHandmade" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body>

      <nav class="top-bar" data-topbar>
        <ul class="title-area">
          <!-- Title Area -->
          <li class="name">
            <h1>
              <li><%= link_to "#{image_tag('home.png')} IndonesianHanmade".html_safe, root_path %></li>
            </h1>
          </li>
          <li class="toggle-topbar menu-icon"><a href="#"><span>menu</span></a></li>
        </ul>
        <section class="top-bar-section">
          <ul class="left">
            <li><%= link_to "#{image_tag('wink.png')} Tutorial".html_safe, tutorials_path %></li>
            <li><%= link_to "#{image_tag('grin.png')} Etalase".html_safe, etalases_path %></li>
            <li><%= link_to 'Category', categories_path %></li>
          </ul>
          <ul class="right">
          <% if user_signed_in? %>
            <!-- Logged in as <strong><%= current_user.email %></strong>. -->
            <li class="<%= 'active' if params[:controller] == 'show_up' %>"><%= link_to "#{image_tag(current_user.avatar_url(:fit_thumb))} #{current_user.name} Profile".html_safe, show_up_profile_path(current_user), class: 'navbar-link' %></li>
            <li><%= link_to "#{image_tag('confused.png')} Logout".html_safe, destroy_user_session_path, method: :delete, class: 'navbar-link' %></li>
          <% else %>
            <li><%= link_to "#{image_tag('contract.png')} Sign up".html_safe, new_user_registration_path, class: 'navbar-link'  %></li>
            <li><%= link_to "#{image_tag('switch.png')} Login".html_safe, new_user_session_path, class: 'navbar-link' %></li>
          <% end %>
          </ul>
        </section>
      </nav>
  <section role="main">
    <div class="row">
    <% if user_signed_in? %>
      <div class="large-3 medium-4 columns">
        <nav>
          <ul class="side-nav">
            <li class="heading">SETUP</li>
            <li class="<%= 'active' if params[:controller] == 'registrations' %>"><%= link_to 'Edit Profile and avatar', edit_user_registration_path %></li>
            <li class="divider"></li>
            <li class="divider"></li>
            <li class="heading">WHAT YOU HAVE</li>
            <li class="<%= 'active' if params[:action] == 'tutorials'%>"><%= link_to 'Tutorials', show_up_tutorials_path(params[:id] || current_user.id) %></li>
            <li class="<%= 'active' if params[:action] == 'etalases'%>"><%= link_to 'Etalase', show_up_etalases_path(params[:id] || current_user.id) %></li>
            <li class="<%= 'active' if params[:action] == 'comments'%>"><%= link_to 'Comment', show_up_comments_path(params[:id] || current_user.id) %></li>
            <li class="divider"></li>
          </ul>
        </nav>
      </div>
      <% end %>
      <div class="large-9 medium-8 columns">
        <% if alert %>
          <div data-alert="" class="alert-box warning round">
            <%= alert %>
            <a href="#" class="close">×</a>
          </div>
        <% end %>
        <% if notice %>
          <div data-alert="" class="alert-box success radius">
            <%= notice %>
          <a href="#" class="close">×</a>
        </div>
        <% end %>
        
        <%= yield %>
      </div>
    </div>
  </section>
    <%= javascript_include_tag "application" %>
  </body>
</html>